<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>foodify</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- FOOD2FORK API -->

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">foodify</a>
                <form class="navbar-form navbar-left" id="search-form">
                  <div class="form-group">
                    <input type="text" class="form-control" name="q" value="" placeholder="Search" required>
                  </div>
                  <button type="submit" class="btn btn-default" id="recipe-search">Submit</button>
                </form>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                      <a href="#ingredient-section">Ingredients</a>
                    </li>
                    <li>
                        <a href="#recipe-section">Recipes</a>
                    </li>
                    <li>
                        <a href="#">Profile</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <header class="image">
    <div id="image">
        <img class="img-responsive img-center" src="https://www.rubios.com/sites/default/files/banners/Ingredients_Feature.jpg" alt="">
        <div class="intro-lead-in">
            <h1 class="intro">Welcome to Foodify</h1>
        </div>
        <div class="intro-heading">
            <h2 class="intro2">Let us help you decide what to make for dinner!</h2>
        </div>
    </div>
    </header>

    <!-- Content Section -->
    <section id="ingredient-section">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <center><h1 class="section-heading">Ingredients</h1>
              </div>
          </div>
        <hr>
      </div>
    </section>

  <section>
  <div class="control-group">
  <div class="container">
    <div class="container" id="search-bar">
        <div cl ass="col-md-12 check-row">
            <div class="row">
                <input type="hidden" name="count" value="1"/>
                <div class="control-group" id="fields">

                    <center><div id="ingredient-form">
                        <form id="render-form">
                            <input id="ingredient-input" name="q" value="" type="text" placeholder="Add Ingredient" required/>
                            <button id="add-btn" name="ingredient-btn" type="submit" class="btn add-more">+</button>
                        </form>
                        <form id="search-form">
                            <button type="submit" id="form-submit" class="btn btn-default">Search</button>
                            <button type="submit" class="btn btn-default" id="clear-form">Clear</button>
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container" id="search-items">
        <div class="ingredients">
        </div>
    </div>
    </div>
   </div>
  </section>

    <div class="row">
      <div class="col-lg-12">
        <center><h1 class="page-header">Recipes</h1>
      </div>
    </div>

  <section id="recipe-section">
    <div class="container">

      <div id='recipes'>
      <script id='recipe-template' type='text/x-handlebars-template'>

            <div class="col-md-4 portfolio-item">

                <a>
                    <img class="img-responsive img" src="{{image_url}}">
                </a>
                <h3>
                    <a href="{{source_url}}">{{title}}</a>
                </h3>
                <!-- <p>{{social_rank}}</p> -->
            </div>
      </script>
    </div>

        <hr>
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; William &amp; Ashley 2016</p>
                </div>
            </div>
        </footer>

    </div>
  </section>

  </body>
</html>
