<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>foodify</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../styles/update.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="../../scripts/update.js"></script>
  </head>
<body>
    <!-- Form Name -->
   <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">foodify</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Recipes</a>
                    </li>
                    <li>
                        <a href="#">Ingredients</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">foodify
                    <small>update</small>
                </h1>
            </div>
        </div><div id="form">
      <script id='form-template' type='text/x-handlebars-template'>

<form class="form-horizontal" id='update-form'>
  <fieldset>


    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="name">Recipe Name</label>
      <div class="col-md-4">
      <input id="title" name="title" value="{{title}}" type="text" placeholder="" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="image">Image Link</label>
      <div class="col-md-4">
      <input id="textinput" name="image" value="{{image}}" type="text" placeholder="" class="form-control input-md">

      </div>
    </div>

    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="summary">Recipe Summary</label>
      <div class="col-md-4">
        <textarea class="form-control" value="{{summary}}" id="summary" name="summary"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="ingredients">Ingredients</label>
      <div class="col-md-4">
        <textarea class="form-control" value={{ingredients}} id="ingredients" name="ingredients"></textarea>
      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="recipe-submit">Save Recipe</label>
      <div class="col-md-4">
        <button id="recipe-submit" name="recipe-submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
</script>
</div>
</body>
</html>