body {
    margin-top: 50px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    height: 100%;
}

html {
    height: 100%;
}

.image-bg-fluid-height,
.image-bg-fixed-height {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
/*
#image {
    background-image: url("https://www.rubios.com/sites/default/files/banners/Ingredients_Feature.jpg");
    height: 100%;

}*/

header {
    min-height: 100%;
    margin-top: 4cm;
}

.img-center {
	margin: 0 auto;
}

.checkbox {
  color: black;
}

.container {
    padding-top:10px; color:#black;
}

#search-bar {
    display: block;
}

#search-items {
    display: block;
    height: 170px;
    width: 100%;
    margin: 30px 300px;
}

#search-form {
    display: inline;
}

#render-form {
  display: inline;
}

#ingredients {
    height: 200px;
}

.delete {
    margin: 10px;
}

.item {
    border: 2px solid black;
    width: 50%;
}

span {
    color: red;
}


.intro {
   position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
   color: white;
   font-size: 48;
   text-align: center;
}

.intro2 {
   position: absolute;
   top: 300px;
   left: 0;
   width: 100%;
   color: white;
   text-align: center;
   font-style: italic;
}
