body {
    margin-top: 50px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    height: 100%;
}

/*html {
    height: 100%;
}*/

.image-bg-fluid-height,
.image-bg-fixed-height {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/*
#image {
    background-image: url("https://www.rubios.com/sites/default/files/banners/Ingredients_Feature.jpg");
    height: 100%;
}*/


header {
    min-height: 100%;
/*    margin-top: 4cm;*/
}

.img-center {
	margin: 0 auto;
}

.checkbox {
  color: black;
}

.container {
    padding-top:10px; color:#black;
}

#recipe-area {
  padding-left: 75px;
}

#search-bar {
    display: block;
}

#ingredient-input {
  height: 34px;
  border-radius: 4px;
}

#search-items {
    display: block;
    height: 170px;
    width: 100%;
    margin: 30px 300px;

}

#search-form {
    display: inline;
}

#render-form {
    display: inline;
}

.carousel-indicators {  
  bottom: 2px !important;
}

.grid-item { 
  width: 200px;
  padding: 5px;
}

#ingredients {
    height: 200px;
}

#myCarousel .carousel-inner img {
  height: 20em;
  margin: 0pt auto;
}

.carousel-inner .item {
  height: 100%;
  text-align: center;
}

.delete {
    margin: 10px;
    border-color: white;
    color: black;
    box-shadow: 0px 0px 2px 2px;
    background-color: white;
    font-size: 18px;
    border-radius: 4px;
}

.item {
/*    border: 2px solid black;*/
    width: 100%;
}

span {
    color: black;
    font-weight: 10em;
}


.intro {
   position: absolute;
   top: 175px;
   left: 0;
   width: 100%;
   color: white;
   font-size: 52px;
   text-align: center;
}

.intro2 {
   position: absolute;
   top: 300px;
   left: 0;
   width: 100%;
   color: white;
   text-align: center;
   font-style: italic;
}
